<h2>Methods that were not run</h2><table>
<tr><td>com.mercury.test.RegressionTestScript.verifiedInvalidLogin</td></tr>
<tr><td>com.mercury.test.RegressionTestScript.verifiedValidLogin</td></tr>
</table>